<h1>Adoption form - step 2</h1>
<p>We have some minimal requirements that you must comply with. Please complete the form below</p>
<p>Please review your details. If they are correct, please process with the next step of your application</p>

<p> <b>First Name:</b></p>
<p> <%= h @first_name %></p>


<p> <b>Last Name:</b></p>
<p> <%= h @last_name %></p>


<p> <b>Income:</b></p>
<p> <%= h @salary %></p>


<p> <b>Home size:</b></p>
<p> <%= h @home %> square meter</p>


<p> <b>Cat wanted:</b></p>
<p> <%= h @kitty_name %></p>

<%=  link_to "Submit request", :controller => "user", :action => "check_details"  %></p>