<head>
  <link href="https://fonts.googleapis.com/css?family=Butterfly+Kids|Ruge+Boogie|Sacramento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<h1>Adoption form - step 2</h1>

<h2>Please review your details. If they are correct, please process with the next step of your application</h2>

<p> <b>First Name: </b> <%= h @first_name %></p>


<p> <b>Last Name: </b><%= h @last_name %></p>


<p> <b>Income: </b><%= h @salary %> Euros</p>


<p> <b>Home size: </b><%= h @home %> square meter</p>


<p> <b>Cat wanted: </b><%= h @kitty_name %></p>

<p><%=  link_to "Submit request", :controller => "user", :action => "check_details"  %></p>