<h1>Welcome to our adoption form</h1>
<h2>You have selected to adopt <%= h @kitty_name %></h2>

<p>Please complete the form below in order to complete the adoption process.</p>



<% if @f_name && @l_name && @f_name != "" && @l_name != "" then %>
    <p> Welcome <%= h @user.fname %>, we got your application details. Please click next to review your details.
      <%= link_to 'next page', :controller => "user", :action => "profile"  %>.</p>
<% else %>
    <%= form_tag("adopt", :method => 'get') do %>
        <p>Kitten:
          <%= text_field_tag('kitten', @kitty_name, :readonly => true) %>
        </p>
        <p> First Name:
          <%= text_field_tag 'fname' %>
        <p> Last Name:
          <%= text_field_tag 'lname' %>
        <p> Salary:
          <%= text_field_tag('salary', 0)%>
        <p> Size of home in square meter:
          <%= text_field_tag('home', 0)%>
          <%= submit_tag 'send' %>
    <% end %>
<% end %>