<head>
  <link href="https://fonts.googleapis.com/css?family=Butterfly+Kids|Ruge+Boogie|Sacramento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<h1>Adoption process: step 1</h1>

<% if @f_name && @l_name && @f_name != "" && @l_name != "" then %>
    <h2> Dear <%= h @user.fname %></h2>
    <h2>Thank you for your application. Please click 'next' to review your application.</h2>
    <h2><%= link_to 'next', :controller => "user", :action => "profile"  %></h2>
<% elsif @kitty_name %>
    <h2>You are applying to adopt <%= h @kitty_name %></h2>
    <h2>Please complete the form below in order to complete the adoption process.</h2>
    <%= form_tag("adopt", :method => 'get') do %>
        <p><b>I would like to adopt:</b>
          <%= h @kitty_name %></p>
        <%= hidden_field_tag :kitten, @kitty_name %>
        <p><b>My first name is:</b>
          <%= text_field_tag 'fname' %></p>
        <p><b>My last name is:</b>
          <%= text_field_tag 'lname' %></p>
        <p><b>My annual salary is:</b>
          <%= text_field_tag('salary', 0)%></p>
        <p><b>The size of my home in square meters is:<b>
          <%= text_field_tag('home', 0)%></p>
          <%= submit_tag 'send' %>

    <% end %>
<% else %>
    <h2>We need your details before we can allow you to adopt one of our cat. Please go back and enter your details</h2>
    <p><%= link_to "Go back", :controller => "adoption", :action => "adopt", :cat =>params[:kitten]%></p>
<% end %>